.App {
  text-align: center;
}

h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}

input {
  padding: 8px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 8px 15px;
}

.episode-list {
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  margin-top: 20px;
}

.episode-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  /* width: 250px; */
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.episode-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.episode-card h3 {
  font-size: 1.2em;
}

.error {
  color: red;
  margin-top: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.modal-content textarea {
  width: 100%;
  height: 400px;
}