.App {
  text-align: center;
}

h1 {
  padding-top: 40px;
  padding-bottom: 10px;
}

input {
  padding: 8px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 8px 15px;
}

.container.center-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Center vertically */
}

.container.top-align {
  margin-top: 20px; /* Adjust as needed */
  display: block;
}

.episode-list {
  justify-content: center;
  margin-top: 20px;
}

.episode-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  max-height: 500px;
  overflow: hidden;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10; /* Number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis (...) at the end of truncated text */
  white-space: normal; /* Allows multiline text */
}

.episode-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.episode-card h3 {
  font-size: 1.2em;
}

.error {
  color: red;
  margin-top: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.modal-content textarea {
  width: 100%;
  height: 400px;
}